<%-include('.././partials/head')%>
        <link href="./css/adminProduct.css" rel="stylesheet"> 
    </head>
    <body> 
        <%-include('.././partials/nav')%>
        <main>
            <form class="caja-buscador">
                <input class="search" type="text" name="search" >
                <button class="search-boton" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <h2 class="top">Resultados</h2>
            <% for (let i = 0; i < productos.length; i++ ) { %>
            <div class="contenedor-casaTotal">
                <div class="contenedor-imagenInfo">
                    <div class="imagen" id="uno">
                        <img class="imagen-casa"src="./img/uploads/<%= productos[i].image ? productos[i].image: 'favorito1.png' %>">
                    </div>
                    <div class="info">
                        <h3 class="titulos" id="category"><%= productos[i].Categories.status%></h3>
                        <h3 class="titulos" id="location1">Location</h3>
                        <p class="contenido" id=direccion1><%= productos[i].location %> </p>
                        <p class="contenido" id=precio1>$<%= productos[i].price %></p>
                    </div>
                </div>
                <div class="contenedor-datosUno">
                    <h3 class="titulos" id="bathroom1">Sqft: <span class="numero"><%= productos[i].sqft %></span></h3>
                    <h3 class="titulos" id="floors1">Floors: <span class="numero"><%= productos[i].floors %></span></h3>
                    <h3 class="titulos" id="bedroom1">Bedroom: <span class="numero"><%= productos[i].beds %></span></h3>
                    <h3 class="titulos" id="bathroom1">Bathroom: <span class="numero"><%= productos[i].baths %></span></h3>
                </div>
                <div class="contenedor-admin">
                    <div  class="boton" id="edit"><a href="/product/edit/<%=productos[i].product_id%>" class="detail"><i class="far fa-edit"></i> Edit</a></div>
                    <div class="delete">
                        <form method="POST" action="/product/admin?_method=DELETE">
                            <input type="number" class="invisible" name="invisible" value="<%= productos[i].product_id %>">
                            <button type="submit" class="boton"><i class="far fa-trash-alt"></i> Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <% } %>
        </main>
        <%-include('.././partials/footer')%>
    </body>
</html>