<%-include('.././partials/head')%>
        <link href="./css/adminProduct.css" rel="stylesheet"> 
    </head>
    <body> 
        <%-include('.././partials/nav')%>
        <main>
            <form class="caja-buscador">
                <input class="search" type="text" name="search" >
                <button class="search-boton" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <h2 class="top">Resultados</h2>
            <% for (let i = 0; i < datosjson.length; i++ ) { %>
            <div class="contenedor-casaTotal">
                <div class="contenedor-imagenInfo">
                    <div class="imagen" id="uno"></div>
                    <div class="info">
                        <h3 class="titulos" id="category"><%= datosjson[i].category %></h3>
                        <h3 class="titulos" id="location1">Location</h3>
                        <p class="contenido" id=direccion1><%= datosjson[i].location %> </p>
                        <p class="contenido" id=precio1>$<%= datosjson[i].price %></p>
                    </div>
                </div>
                <div class="contenedor-datosUno">
                    <h3 class="titulos" id="bathroom1">Sqft: <span class="numero"><%= datosjson[i].sqft %></span></h3>
                    <h3 class="titulos" id="floors1">Floors: <span class="numero"><%= datosjson[i].floors %></span></h3>
                    <h3 class="titulos" id="bedroom1">Bedroom: <span class="numero"><%= datosjson[i].beds %></span></h3>
                    <h3 class="titulos" id="bathroom1">Bathroom: <span class="numero"><%= datosjson[i].baths %></span></h3>
                </div>
                <div class="contenedor-admin">
                    <div  class="boton" id="edit"><a href="/product/edit/<%=i+1%>" class="detail"><i class="far fa-edit"></i> Edit</a></div>
                    <div class="delete">
                        <form >
                            <button type="submit" class="boton"><i class="far fa-trash-alt"></i> Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <% } %>
        </main>
        <%-include('.././partials/footer')%>
    </body>
</html>