<%-include('.././partials/head')%>
        <link href="./css/listProduct.css" rel="stylesheet"> 
    </head>
    <body> 
        <%-include('.././partials/nav')%>
        <main>
            <form method="GET" action="/product/results" class="caja-buscador">
                <input class="search" type="text" name="search" >
                <button class="search-boton" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <h2 class="top">Resultados</h2>
            <% for (let i = 0; i < productos.length; i++ ) { %>
            <div class="contenedor-casaTotal">
                <div class="contenedor-imagenInfo">
                    <div class="imagen" id="uno">
                        <img class="imagen-casa"src="./img/uploads/<%= productos[i].image ? productos[i].image: 'favorito1.png' %>">
                    </div>
                    <div class="info">
                        <h3 class="titulos" id="category"><%= productos[i].Categories.status %></h3>
                        <h3 class="titulos" id="location1">Location</h3>
                        <p class="contenido" id=direccion1><%= productos[i].location %> </p>
                        <p class="contenido" id=precio1>$<%= productos[i].price %></p>
                    </div>
                </div>
                <div class="contenedor-datosUno">
                    <h3 class="titulos" id="bathroom1">Sqft: <span class="numero"><%= productos[i].sqft %></span></h3>
                    <h3 class="titulos" id="floors1">Floors: <span class="numero"><%= productos[i].floors %></span></h3>
                    <h3 class="titulos" id="bedroom1">Bedroom: <span class="numero"><%= productos[i].beds %></span></h3>
                    <h3 class="titulos" id="bathroom1">Bathroom: <span class="numero"><%= productos[i].baths %></span></h3>
                </div>
                <div class="contenedor-contactoUno">
                    <div class="telefono-mail">
                        <form >
                            <button type="submit"><p class=titulo-boton>Add to favorites<i class="fas fa-heart" id="favo"></i></p>
                            </button>
                        </form>
                    </div>
                    <div  class="boton" id="primero"><a href="/product/<%=productos[i].product_id%>" class="detail">View details</a></div>
                </div>
            </div>
            <hr>
            <% } %>
        </main>
        <%-include('.././partials/footer')%>
    </body>
</html>