<%-include('.././partials/head')%>
        <link href="./css/signUp.css" rel="stylesheet">
    </head>
    <body> 
        <main class="contenedor-todo">
            <div class="contenedor-signup">
                <h1 class="signup">Sign up</h1>
                <form method="POST" action="/user/signup" enctype="multipart/form-data">
                    <label for="imageU" class="imageUlabel">
                        <i class="fas fa-user" id="user"></i>
                        <i class="fas fa-camera" id="camera"></i>
                        <p class="upload">Add photo</p>
                    </label>
                    <input type=file id="imageU" name="imageU" accept="image/*">
                    <% if (locals.errorType && errorType.img) { %>
                        <p class="labelerros"><%= errorType.img.msg %></p>
                    <% } %>
                    <div class="contenedor-nombre">
                        <label for="name" class="labelerros">
                            <input type="text" name="name" id="name" placeholder="Name" value="<%= locals.old && old.name ? old.name:'' %>" required>
                            <% if (locals.errors && errors.name) { %>
                                <%= errors.name.msg %>
                            <% } %>
                        </label>
                        <label for="lastname" class="labelerros">
                            <input type="text" name="lastname" id="lastname" placeholder="Last Name" value="<%= locals.old && old.lastname ? old.lastname:'' %>" required>
                            <% if (locals.errors && errors.lastname) { %>
                                <%= errors.lastname.msg %>
                            <% } %>
                        </label>
                    </div>
                    <div class="contenedor-password">
                        <label for="email" class="labelerros">
                            <input type="email" name="email" id="email" placeholder="Email"  value="<%= locals.old && old.email ? old.email:'' %>" required>
                            <% if (locals.errors && errors.email) { %>
                                <%= errors.email.msg %>
                            <% } %>
                        </label>
                        <label for="password" class="labelerros">
                            <input type="password" name="password" id="password" placeholder="Password" required>
                            <% if (locals.errors && errors.password) { %>
                                <%= errors.password.msg %>
                            <% } %>
                        </label>
                    </div>
                    <section class="rectangulo">
                        <div class="saleRent">
                            <input type="radio" name="category" id="sale" value="1" <%=locals.old && old.category === '1'? 'checked':''; %> required>
                            <label class= "sale" for="sale">Buyer</label>
                            <span>/</span>
                            <input type="radio" name="category" id="rent" value="2" <%=locals.old && old.category === '2'? 'checked':''; %>required>
                            <label class="sale" for="rent">Seller</label>
                        </div>
                    </section>
                    <div class="contenedor-boton">
                        <button type="submit" class="boton-signup">Sign up</button>
                    </div>
                </form>
            </div>
    
        </main>

    </body>
</html>